---
import Layout from 'astro-content-hub:layout'

type Props = {
  title: string
  description?: string | undefined
  lang?: string | undefined
  canonicalUrl?: string | undefined
  pagefindIgnore?: boolean | undefined
  jsonldHref?: string | undefined
}

const { title, description, lang = 'en', canonicalUrl, pagefindIgnore = false, jsonldHref } =
  Astro.props
---

{
  Layout ? (
    <Layout title={title} description={description}>
      <slot />
    </Layout>
  ) : (
    <html lang={lang}>
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        {description && <meta name="description" content={description} />}
        {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
        {jsonldHref && <link rel="alternate" type="application/ld+json" href={jsonldHref} />}
      </head>
      <body {...(pagefindIgnore ? { 'data-pagefind-ignore': '' } : {})}>
        <slot />
      </body>
    </html>
  )
}
